COMPOSE_PROJECT_NAME=factorplatform_roadshow
FRONTEND_PORT=3000
NEXT_PUBLIC_API_KEY=ROADSHOW_VIEW_KEY
NEXT_PUBLIC_ALLOW_MOCK_FALLBACK=1
NEXT_PUBLIC_DEMO_READONLY=1
NEXT_PUBLIC_MOCK_BACKEND=1
FACTOR_PLATFORM_ALLOW_MOCK_FALLBACK=1
FACTOR_PLATFORM_DEMO_READONLY=1
FACTOR_PLATFORM_MOCK_BACKEND=1
